files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/create_env.sh":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd /var/app/current
      echo $LARAVEL_ENV > env.log
      cp .env.$LARAVEL_ENV .env
      chown webapp:webapp .env
      chown webapp:webapp env.log
